@charset "utf-8";
/*web-font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


/*web-font*/
@import url('reset.css');

/*font-family: 'Roboto Mono', monospace;
font-family: 'Raleway', sans-serif;
font-family: 'Abril Fatface', cursive;
*/



body {
    background-color: #f2dbdb;
    /* overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    overflow-x: scroll;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}
/*-------------
   scrollbar
--------------*/
::-webkit-scrollbar{width:8px;}
::-webkit-scrollbar-track{ background-color:#fff;}
::-webkit-scrollbar-thumb{ background-color:#de8ea1; 
    border-radius:10px;}
::-webkit-scrollbar-button:star:decrement,::-webkit-scrollbar-button:end:increment{width:10px;}


/* sec1 */

 
#sec1{position: relative;}

#sec1 svg #Text_0{
    animation:  down-long 0.5s 1.0s both;
    opacity: 0;
}

#sec1 svg #tree_0{
    position: relative;
    animation: top 1.5s 3s both;
    opacity: 0;
}

#sec1 svg #tree_1{
    position: relative;
    animation: top 2s 0.5s both;
    opacity: 0;
}
#sec1 svg #tree_2{
    position: relative;
    animation: top 2s 0.5s both;
    opacity: 0;
}
#sec1 svg #tree_3{
    position: relative;
    animation: top 2s 1s both;
    opacity: 0;
}

#sec1 svg #tree_4{
    position: relative;
    animation: top 1.5s 2s both;
    opacity: 0;
}
#sec1 svg #tree_5{
    position: relative;
    animation: top 3s 2.5s both;
    opacity: 0;
}
#sec1 svg #tree_6{
    position: relative;
    animation: top 3s 3.0s both;
    opacity: 0;
}
#sec1 svg #tree_7{
    position: relative;
    animation: top 2.5s 2.5s both;
    opacity: 0;
}
#sec1 svg #tree_8{
    position: relative;
    animation: top 2s 2.5s both;
    opacity: 0;
}
#sec1 svg #tree_9{
    position: relative;
    animation: top 1s 2.5s both;
    opacity: 0;
}

#sec1 svg #fish{
    position: relative;
    animation: left 3s 3.0s both;
    opacity: 0;
}

#sec1 svg #wave{
    position: relative;
    animation: left 3s 3.0s both;
    opacity: 0;
}

#sec1 svg #flower{
    position: relative;
    animation: top 1s 2.0s both;
    opacity: 0;
}
#sec1 svg #flower_2{
    position: relative;
    animation: top 2s 1.0s both;
    opacity: 0;
}
#sec1 svg #flower_3{
    position: relative;
    animation: top 1.5s 0.5s both;
    opacity: 0;
}
#sec1 svg #flower_4{
    position: relative;
    animation: top 2s 3.0s both;
    opacity: 0;
}
#sec1 svg #flower_5{
    position: relative;
    animation: top 2s 2s both;
    opacity: 0;
}
#sec1 svg #flower_6{
    position: relative;
    animation: top 2s 0.5s both;
    opacity: 0;
}

#sec1 svg #Bench{
    animation: down-small 0.3s 2.7s both;
}


#sec1 .imgs{
    position: absolute;
    top: 0; left: 0; width: 100%; 

}
#sec1 .imgs img{width: 100%; position: absolute;}


#sec1 .imgs .ob.ob1 {
    animation: left-b 0.6s 1.8s both;
    opacity: 0;
}

#sec1 .imgs .ob.ob2 {
    animation: down-small 0.3s 3s both;
}

#sec1 .imgs .ob.ob3 {
    animation: down-small 0.3s 2.7s both;
}

#sec1 .imgs .ob.ob4 {
    animation: down-small 0.3s 3s both;
}

#sec1 .imgs .ob.ob5 {
    animation: down-small 0.3s 2.7s both;
}

#sec1 .imgs .ob.ob6 {
    animation: down-small 0.3s 3s both;
}

#sec1 .imgs .ob.ob7 {
    animation: down-small 0.3s 3s both;
}

#sec1 .imgs .ob.ob8 {
    animation: gulum 2s 1s linear;
}
#sec1 .imgs .ob.ob9 {
    animation: gulum 2s 1s linear;
}

#sec1 .imgs .ob.ob10 {
    animation: left-b 0.6s 1.8s both;
    opacity: 0;
}

#sec1 .imgs .ob.ob11 {
    animation:  down-long 1s 1.7s both;
    opacity: 0;
}
#sec1 .imgs .ob.ob12 {
    animation:  down-long 1.5s 2s both;
    opacity: 0;
}

@keyframes top{
    0%{transform: translateY(-10%); opacity: 0;}
    100%{transform: translateY(0%); opacity: 1;}
}

@keyframes left{
    0%{transform: translateY(-10%); opacity: 0;}
    100%{transform: translateY(0%); opacity: 1;}
}


@keyframes gulum {
	0%{transform: translateX(-20px);}
    25%{transform: translateX(0px);}
	50%{transform: translateX(20px);}
	75%{transform: translateX(0px);}
	100%{transform: translateX(-20px) ;}
}

@keyframes down-long{
    0%{transform: translateY(-500px); opacity: 0;}
    50%{transform: translateY(200px); opacity: 1;}
    100%{transform: translateY(0px); opacity: 1;}
}

@keyframes left-b {
    0%{transform: translateX(300px);opacity: 0;}
    85%{transform: translateX(-80px);opacity: 1;}
    100%{transform: translateX(0px);opacity: 1;}}

    @keyframes down-small{
        0%{transform: translateY(-100px); opacity: 0;}
        100%{transform: translateY(0px); opacity: 1;}
    }


    .main{position:absolute; left: 0; top:0; width:100%;height:100%;
        clip-path: polygon(0% 33%, 27% 36%, 31% 38%, 51% 100%, 0% 100%);
    animation: opacity 0.5s 2s both;
    pointer-events: none;
    
    }
#particle_gif{width: 100%; height: 100%;
background: url(../img/shine_2.gif)
}

@keyframes opacity{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* 1 */



.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


.container.on{
    width: 100%;
    height: 100vh;
    background: #ddd;
    z-index: 9999;
}


.loader_container{
    width: 100%;
    height: 100vh;
    background-color: #111;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999 ;
}

.text {
    position: relative;
    margin-top: 120%;
    /* top: 128%; */
    left: 26px;
    color: #fff;
}

.loader{
    border-top-color: transparent;
    border-radius: 50%;
}

.text01{
    margin-left: 40%;
    margin-top: -10px;
    font-family: 'Abril Fatface', cursive !important;
}
.text01 span{
    font-size: 50px;
    color: #fff;
}

.text01 span:nth-child(1){
   animation: txt_ef 0.5s linear forwards;
}
.text01 span:nth-child(1){
   animation: txt_ef 0.5s linear forwards;
    animation-delay: 0.2s;
}

.text01 span:nth-child(2){
   animation: txt_ef 0.5s linear forwards;
    animation-delay: 0.3s;
}

.text01 span:nth-child(3){
   animation: txt_ef 0.5s linear forwards;
     animation-delay: 0.4s;
}

.text01 span:nth-child(4){
   animation: txt_ef 0.5s linear forwards;
     animation-delay: 0.5s;
}

.text01 span:nth-child(5){
   animation: txt_ef 0.5s linear forwards;
     animation-delay: 0.6s;
}

.text01 span:nth-child(6){
   animation: txt_ef 0.5s linear forwards;
     animation-delay: 0.7s;
}

.text01 span:nth-child(7){
   animation: txt_ef 0.5s linear forwards;
     animation-delay: 0.8s;
}

.gallery-img {
    position: absolute;
    left: 35%;
    top: 55%;
    background: url(../img/bg_img.jpg) no-repeat left top;
    width: 490px;
    height: 492px;
    margin-top: -342px;
    /* overflow: hidden; */
    animation: ani03 1s steps(6) infinite;
    margin-left: 3%;
    z-index: 6;
    box-shadow: 0 0 0 8px #e2b7b3;
    border-top-left-radius: 80px;
}

.loader p{
    font-size: 25px;
    color: #fff;
    margin-top: 65%;
}

/*
.loader .text .draw {
    stroke: #ffffff;
    stroke-width: 2px;
    fill: transparent; 
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation: draw 3s ease infinite;
}
*/


/*
.loader .text .draw {
    stroke: #ffffff;
    stroke-width: 2px;
    fill: transparent; 
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation: draw 3s ease infinite;
     z-index: 10029; 
}
*/



.content2 .section_1_02 svg .draw3 {
    stroke: #d69d9f;
    stroke-width: 2px;
    fill: transparent;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: draw3 4s linear forwards;
    animation-delay: 3s;
}


.content {
    width: 100%;
    height: 1150px;
    position: absolute;
    left: 0%;
    top: 0%;
    margin-bottom: 70px;    
    background-color: #f2dbdb;
}

.content2 {
    width: 100%;
    height: 120vh;
    position: absolute;
    left: 0%;
    top: 0%;
    margin-bottom: 70px;
    background-color: #f2dbdb;
}


.content2 .section_1_01 {
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

.content2 .section_1_01 svg { }

.content2 .section_1_01 svg .draw2 {
    stroke: #5A3E3A;
    stroke-width: 2px;
    fill: transparent;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: draw2 5s linear forwards;
    animation-delay: 2.8s;
}

.content2 .section_1_02 {
    position: absolute;
    top: -2%;
    left: 40%;
}

.content2 .section_1_02 svg{}

.content2 .section_1_02 svg .draw3 {
    stroke: #d69d9f;
    stroke-width: 2px;
    fill: transparent;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: draw3 4s linear forwards;
    animation-delay: 3s;
}

.content2 .section_1_03 {
    position: absolute;
    /* bottom: 31%; */
    top: 64%;
    left: 45%;
}

.content2 .section_1_02 svg{}

.content2 .section_1_03 svg .draw4 {
    stroke: #af6d6d;
    stroke-width: 2px;
    fill: transparent;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: draw4 3s linear forwards;
    animation-delay: 3s;
}

.content2 .bigger {
    margin: 0;
    font-size: 75px;
    font-weight: 800;
    width: 120px;
    height: 60px;
    padding: 20px;
    color: #342121;
    display: inline-block;
    font-family: 'Abril Fatface', cursive;
}

.content2 .has-animation {
    position: absolute;
    top: 2.5%;
    left: 2%;
    z-index: 6;
    display: inline-block;
}
.content2 .has-animation p { opacity: 0;/*처음에는 안보이게 설정*/ }

.content2 .has-animation.animate-in p{
animation: textHidden 0.1s 1.1s forwards;
}
.content2 .has-animation.animate-in:before, .has-animation.animate-in:after  
{/*in이 들어왔을 때의 상황*/
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
}

.content2 .has-animation.animate-in:before{
background-color: #ea8686;
}
.content2 .has-animation.animate-in:after
{
background-color: #804545;
animation-delay: 0.5s;
}
.content2 .has-animation.animation-ltr.animate-in:before{
animation: revealLTR 2.5s ease;
}
.content2 .has-animation.animation-ltr.animate-in:after{
    animation: revealLTR 1.5s 0.6s ease;
}

/*parallax*/
#scene {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    z-index: 5;
}
/*parallax*/

/*particles*/
#particles-js {
    width: 1900px;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 5;
}
/*particles*/

/*.my-paroller{
    width: 100%;
    height: 150vh;
    
    
}*/
/*____****first-section****____*/


/*____****second-section****____*/
.second-section{
    position: relative;
    display: none;
}

.section_2_01 {
    position: absolute;
    top: 2%;
    left: 5%;
    z-index: 6;
    margin-top: 30px;
    width: 280px;
    height: 90px;
}

.section_2_02{
    position: absolute;
    top: 26px;
    left: 7.2%;
    margin-top: 30px;
    z-index: 7;
}
.section_2_02 svg{ width: 200px; height: 80px; }


/*___***slider***___*/
.content .slider {
    width: 100%;
    height: 100vh;
    text-transform: uppercase !important;
}

.content .rgbKineticSlider {
    display: block;
    overflow: hidden;
    position: absolute;
    left: 6.8%;
    top: 26%;
    width: 480px;
    height: 480px;
    z-index: 5;
    border-top-left-radius: 80px;
    box-shadow: 5px 5px 11px 3px rgba(93, 32, 32, 0.5);
}

.content .rgbKineticSlider img{
    width: 500px;
    height: 500px;
    
}
.content #demo_3 {
    position: relative;
    font-size: 20px;
    color: #000;
    z-index: 6;
    top: 32%;
    left: 7%;
    margin-top: -138px;
    font-weight: 700;
    font-family: 'S-CoreDream-4Regular';
}

.content canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 480px;
    width: 480px;
}

.content .slider a.next {
    position: absolute;
    left: 36.5%;
    top: 50%;
    z-index: 3;
}

.content .slider a.next .right2{
    font-size: 20px;
    color: #794d49;
}

.content .slider a.prev {
    position: absolute;
    left: 2.5%;
    top: 50%;
    z-index: 3;
}

.content .slider a.prev .left2{
    font-size: 20px;
    color: #794d49;
}

.content .slider_bg {
    position: absolute;
    left: 4.5%;
    bottom: 24%;
    z-index: 4;
    width: 570px;
    height: 630px;
    background-color: #fff;
    border-bottom-right-radius: 60px;
    box-shadow: 5px 5px 15px 3px rgba(93, 32, 32, 0.5);
}

/*___***slider***___*/

/*___***section_2_03***___*/
.section_2_03{ 
    position: absolute;
    left: 35%;
    top: 5%;
    width: 1300px;
    height: 780px;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    color: #000000;
}

.section_2_03 .profile_info {
    position: absolute;
    left: 10%;
    top: -5%;
    display: inline-block;
    width: 260px;
    /* margin: 15% 0 0 27%; */
    box-sizing: border-box;
    line-height: 30px;
    animation-delay: 0.7s;
}

.section_2_03 h3 {
    font-size: 28px;
    /* margin-bottom: 25px; */
    /* padding-bottom: 15px; */
    height: 77px;
    font-weight: bold;
    border-bottom: 3px solid #d97777;
    letter-spacing: 0.4px;
}

.section_2_03 h3 p{
    color: #b52424;
    font-size: 34px;
    display: inline-block;
}

.section_2_03 .profile_info span{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'S-CoreDream-4Regular';
}

.section_2_03 .education_info {
    position: absolute;
    left: 10%;
    top: 23%;
    display: inline-block;
    width: 355px;
    /* margin: 15% 0 0 27%; */
    box-sizing: border-box;
    line-height: 30px;
    animation-delay: 0.9s;
}

.section_2_03 .education_info span{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;    
    font-family: 'S-CoreDream-4Regular';
}

.section_2_03 .certificate_info {
    position: absolute;
    left: 10%;
    top: 72%;
    display: inline-block;
    width: 320px;
    /* margin: 15% 0 0 27%; */
    box-sizing: border-box;
    line-height: 30px;
    animation-delay: 1.2s;
}

.section_2_03 .certificate_info span{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'S-CoreDream-4Regular';
}

.section_2_03 .like_info {
    position: absolute;
    left: 50%;
    top: 72%;
    display: inline-block;
    width: 320px;
    /* margin: 15% 0 0 27%; */
    box-sizing: border-box;
    line-height: 30px;
    animation-delay: 1.3s;
}

.section_2_03 .like_info span{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'S-CoreDream-4Regular';
}
/*___***section_2_03***___*/

/*___***section_2_04***___*/
.section_2_04 {
    position: absolute;
    top: 62%;
    left: 85%;
}

.section_2_04 svg{}

.section_2_04 .draw5 {
    stroke: #be5f71;
    stroke-width: 2px;
    fill: transparent;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: draw5 4s linear forwards infinite;
    animation-delay: 3s;
}
/*___***section_2_03***___*/

/*____****second-section****____*/


/*___***Skills bar***___*/
section article.skills {
    width: 500px;
    position: absolute;
    left: 69%;
    top: 5%;
    height: auto;
}

section article.skills p {
    color: #000;
    font-size: 18px;
    z-index: 2;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #d07e7e;
    font-weight: 500;
}

section span.percentage {
    position: absolute;
    top: 8px;
    right: 20px;
}

section.on article.skills div span:nth-child(1){
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  opacity: 1;
}

section article.skills div span:nth-child(2) {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to left, #fff4cf,#ef9a9a );
  border-bottom-right-radius: 20px;
  height: 100%;
}

section article.skills div:nth-child(1) span:nth-child(2) {
  width: 90%;
  animation-delay: 0;
}
section article.skills div:nth-child(2) span:nth-child(2) {
  width: 90%;
  animation-delay: 10s;
}
section article.skills div:nth-child(3) span:nth-child(2) {
  width: 65%;
  animation-delay: 10.2s;
}
section article.skills div:nth-child(4) span:nth-child(2) {
  width: 95%;
  animation-delay: 10.4s;
}
section article.skills div:nth-child(5) span:nth-child(2) {
  width: 95%;
  animation-delay: 10.6s;
}
section article.skills div:nth-child(6) span:nth-child(2) {
  width: 90%;
  animation-delay: 10.8s;
}
section article.skills div:nth-child(7) span:nth-child(2) {
  width: 80%;
  animation-delay: 11s;
}
section article.skills div:nth-child(8) span:nth-child(2) {
  width: 75%;
  animation-delay: 11.2s;
}
.skills {
  animation: skills 1.25s cubic-bezier(0.17, 0.67, 0, 1);
   position: absolute;
    top: 0;
    right: 0;
}
@keyframes skills {
  0% {
    left: -500px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
/*___***Skills bar***___*/
/*____****second-section****____*/


/*____****img_slider****____*/
.six{margin-top: 200px;}
.main-content {
    max-width: 1700px;
    margin: 0em auto 3em;
    box-sizing: border-box;
    position: relative;
    padding: 3em;
}

:root {
  --color: coral;
}

.blue {
  --color: #08b2e3;
}

.yellow {
  --color: #edae49;
}

.orange {
  --color: #f18805;
}

.green {
  --color: #76b041;
}

.brown {
  --color: #916953;
}

.red {
  --color: #e3655b;
}

.pink {
  --color: #ec318c;
}

.recipe-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    background: #fff;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    align-self: stretch;
}
.recipe-wrapper .recipe-image {
  flex: 4;
  overflow: hidden;
  position: relative;
  background: #fcfcfc;
}
.recipe-wrapper .recipe-image .recipe{
    height: 100%;
    
}
.recipe-wrapper .recipe-image .recipe .pie-photo {
    right: -5%;
    max-width: 120%;
    position: absolute;
    top: -120%;
    transition: all 600ms cubic-bezier(1, 0, 0, 1);
}
.recipe-wrapper .recipe-image .recipe.on .pie-photo{
    top: 8%;
}

.recipe-wrapper .recipe-content {
  background: #fff;
  flex: 5;
  padding: 7%;
  text-align: center;
  min-height: 400px;
  overflow: hidden;
  position: relative;
}
.recipe-wrapper .navigation {
  position: absolute;
  right: -10px;
  top: 60px;
  font-size: 30px;
  text-align: center;
  color: #fff;
}
.recipe-wrapper .navigation i {
  margin: 8px;
  display: block;
  opacity: 0.6;
  cursor: pointer;
}

.recipe-wrapper .navigation .left3{
  margin: 8px;
  display: block;
  opacity: 0.6;
  cursor: pointer;
} 

.recipe-wrapper .navigation .right3{
  margin: 8px;
  display: block;
  opacity: 0.6;
  cursor: pointer;
} 

.recipe-wrapper .navigation i:hover {
  opacity: 1;
}
.recipe-wrapper .navigation i.disabled {
  opacity: 0.2;
  pointer-events: none;
}
.recipe-wrapper .recipe-page {
  font: 400 28px "Playfair Display", cursive;
  position: absolute;
  top: 10px;
  right: 20px;
  color: #999;
  opacity: 0;
  transition: all 600ms cubic-bezier(1, 0, 0, 1);
}
.recipe-wrapper .recipe-content-inner {
  transition: all 600ms cubic-bezier(1, 0, 0, 1);
  top: 150%;
  position: absolute;
  left: 0;
  margin: 0 10%;
  right: 0;
}

.recipe.on .recipe-page {
  opacity: 1;
}
.recipe.on .pie-photo {
    bottom: 0%;
    right: 0%;
}
.recipe.on .pie-photo2 {
    bottom: -6%;
    right: -15%;
}
.recipe.on .pie-photo3 {
    bottom: -6%;
    right: -20%;
}
.recipe.on .pie-photo4 {
    bottom: -10.5%;
    right: -5%;
}
.recipe.on .pie-photo5 {
    bottom: -9.5%;
    right: -9.5%;
}

.recipe.on .recipe-content-inner {
  top: 12%;
}

.pie-name {
  font: 900 35px Raleway;
  text-transform: uppercase;
  margin: 20px 0 5px;
  letter-spacing: 2px;
  color: #382110;
  position: relative;
}
.pie-name:before {
  content: "";
  position: absolute;
}

.pie-context {
    font-family: 'S-CoreDream-4Regular';
    font-size: 20px;
    color: #7c7b7b;
    margin: 35px 20px;
}

.pie-serving {
  font: 400 16px Raleway;
  color: #382110;
  border: 0.5px solid #382110;
  border-width: 0.5px 0;
  margin: 20px auto;
  max-width: 300px;
  font-family: 'S-CoreDream-4Regular';
}
.pie-serving svg {
  width: 40px;
}
.pie-serving svg path {
  fill: var(--color);
}
.pie-serving p {
  display: inline-block;
  vertical-align: top;
  margin: 12px 6px 6px;
}

.pie-cta {
   display: block;
  padding: 20px;
  border-radius: 30px;
  background: #382110;
  max-width: 180px;
  font-size: 20px;
  color: #fff;
  position: relative;
  margin: auto;
    position: absolute;
   top: 102%;
   left: 20%;
}

.pie-cta2 {
  display: block;
  padding: 20px;
  border-radius: 30px;
  background: #382110;
  max-width: 180px;
  font-size: 20px;
  color: #fff;
  position: relative;
  margin: auto;
  top: 0;
  position: absolute;
   top: 102%;
   left: 40%;
}

.pie-cta3 {
  display: block;
  padding: 20px;
  border-radius: 30px;
  background: #382110;
  max-width: 180px;
  font-size: 20px;
  color: #fff;
  position: relative;
  margin: auto;
  top: 0;
    position: absolute;
    top: 102%;
    left: 60%;
}
.pie-cta a{ color: #fff; }
.pie-cta2 a{ color: #fff; }
.pie-cta3 a{ color: #fff; }
.pie-cta4 a{ color: #fff; }

.pie-cta4 {
   display: block;
  padding: 20px;
  border-radius: 30px;
  background: #382110;
  max-width: 180px;
  font-size: 20px;
  color: #fff;
  position: relative;
  margin: auto;
    position: absolute;
   top: 102%;
   left: 40%;
}

aside.context {
  text-align: center;
  color: #fff;
  line-height: 2;
}
aside.context a {
  text-decoration: none;
  color: #fff;
  padding: 3px 0;
  border-bottom: 1px dashed;
}
aside.context a:hover {
  border-style: solid;
}
aside.context .explanation {
  max-width: 700px;
  margin: 2em auto;
}

footer {
  text-align: center;
  margin: 5em auto;
  width: 100%;
}
footer a {
  text-decoration: none;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: transparent;
  border: 1px dashed #fff;
  color: #fff;
  margin: 5px;
}
footer a:hover {
  background: rgba(255, 255, 255, 0.1);
}
footer a .icons {
  margin-top: 12px;
  display: inline-block;
  font-size: 20px;
}
.title p{
    margin-top: 100px;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
    color: transparent;
    -webkit-text-stroke: 1.5px #3e0909;
    cursor: pointer;
}


.title p:hover {
    color: #3e0909;
    -webkit-text-stroke: transparent;
}

.title2{ width: 3000px; }

.title2 p {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 40px;
    color: transparent;
    -webkit-text-stroke: 1.5px #763d3d;
    animation: sl 25s linear infinite;
    cursor: pointer;
    position: absolute;
    top: -4.5%;
}

.title3{ width: 3000px; }

.title3 p {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 40px;
    color: transparent;
    -webkit-text-stroke: 1.5px #763d3d;
    animation: sl2 25s linear infinite;
    cursor: pointer;
    position: absolute;
    bottom: -4%;
}
/*____****img_slider****____*/

/*grid grid--layout-3 / d_img_37-1.jpg*/
.wrap2{ background-position: 0px -15px;}
/*grid grid--layout-3 / d_img_37-1.jpg*/

/*grid grid--layout-2 / d_img_35.pg*/
.wrap3 { background-position: 0px 21px; }
/*grid grid--layout-2 / d_img_35.pg*/

/*grid grid--layout-2 / d_img_18.pg*/
.wrap4 { background-position: 0px -76px; }
/*grid grid--layout-2 / d_img_18.pg*/

/*grid grid--layout-2 / d_img_17.pg*/
.wrap5{ background-position: 0px -33px; }
/*grid grid--layout-2 / d_img_17.pg*/

/*grid grid--layout-2 / d_img_31.pg*/
.wrap6{ background-position: 0px -5px; }
/*grid grid--layout-2 / d_img_31.pg*/

/*____****Contact****____*/
.Contact {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    margin-bottom: 100px;
    box-sizing: border-box;
    overflow: hidden;
}
.tact-wrap h3 {
    margin-top: -5px;
    font-size: 50px;
    margin-bottom: 25px;
    text-align: center;
    color: #382110;
}
.tact-wrap {
    width: 1000px;
    height: 750px;
    margin: 0 25%;
    float: left;
    box-sizing: border-box;
    padding: 49px 60px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 16px 16px 0 #6f3838;
    margin-bottom: 20px;
    margin-bottom: 60px;
    font-size: 20px;
}

.Title-cursive {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 35px;
    margin-left: 4%;
    display: block;
    font-size: 18px;
    box-sizing: border-box;
    animation-delay: 0.5s;
}

#contact-form {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    /* margin-top: 50px; */
}

#contact-form label{
    font-size: 25px;
    color: #272F42;
}
#contact-form input {
    display: block;
    border: 2px solid #422727;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 1.3em;
    box-sizing: border-box;
    padding: 8px;
    background: #fff;
    font-family: 'S-CoreDream-4Regular';
    font-size: 22px;
}
#contact-form textarea {
    display: block;
    border: 2px solid #272F42;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    font-size: 1.4em;
    box-sizing: border-box;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'S-CoreDream-4Regular';
}



.title04 p:hover {
    animation-play-state: paused;
    color: #ffffff;
    cursor: pointer;
}

.title04 p {
    font-size: 40px;
    animation: left 15s linear infinite;
    display: block;
    color: #5a1717;
    font-weight: 600;
    margin-top: 15%;
    width: 1300px;
}

.bg_effect_img01 {
    position: absolute;
    left: 20%;
    top: 45%;
}

.bg_effect_img02 {
    position: absolute;
    right: 5%;
    top: 5%;
    animation-name: img02;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

.bg_effect_img02 img{
    width: 250px;
    height: 250px;
}



.bg_effect_img03 {
    position: absolute;
    bottom:  20%;
    left: 5%;
    animation-name: img03;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

.bg_effect_img03 img{
    width: 250px;
    height: 400px;
}



/*____****Contact****____*/










/*____****애니메이션****____*/


/*로딩화면 글자효과*/
@keyframes draw{
    50%{ fill: transparent; }
    70%{ /*stroke-dashoffset: 0;*/ fill: #ffd6d6; }
    100%{ stroke-dashoffset: 0; fill: #ffffff; }
}
/*로딩화면 글자효과*/


/*타이틀*/
@keyframes draw2{
    50%{ fill: transparent; }
    70%{ /*stroke-dashoffset: 0;*/ fill: #fca3a3; }
    100%{ stroke-dashoffset: 0; fill: #5A3E3A; }
}
/*타이틀*/

/*꽃1*/
@keyframes draw3{
    30%{ fill: transparent; }
    100%{ stroke-dashoffset: 0; fill: #d69d9f;}
}
/*꽃1*/

/*꽃2*/
@keyframes draw4{
    30%{ fill: transparent; }
    100%{ stroke-dashoffset: 0; fill: #af6d6d;}
}
/*꽃2*/


/*꽃3*/
@keyframes draw5{
    30%{ fill: transparent; }
    100%{ stroke-dashoffset: 0; fill: #be5f71; }
}
/*꽃3*/



/*로딩화면 이미지*/
@keyframes ani03{
    100% {
    background-position: -2960px;
        animation-direction: 1s;
    }
}
/*로딩화면 이미지*/

/*이름 글자 써짐*/
	@keyframes revealRTL {
        0% { width: 0; right: 0; }
        65% { width: 100%; right: 0; }
        100% { width: 0; right: 100%; }
	}
	@keyframes revealLTR {
        0% { width: 0; left: 0; }
        65% { width: 100%; left: 0; }
        100% { width: 0; left: 100%; }
	}
	@keyframes textHidden {
        0% { opacity: 0; }
        100% { opacity: 1; }
	}
/*이름 글자 써짐*/


/*글자 흘러감*/
@keyframes sl{
    0%{ transform: translateX(-3200px); }
    100%{ transform: translateX(0); }
}

@keyframes sl2{
    0%{transform: translateX(-3200px);  }
    100%{ transform: translateX(0);  }
}

/*글자 흘러감*/

/*글자 이펙트*/
@keyframes left{
        0% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(100%);
    }
}
/*글자 이펙트*/


/*배경 이펙트01*/
@keyframes img02{
    50% {
        transform: translateY(100px);
    }
}
/*배경 이펙트01*/

/*배경 이펙트02*/
@keyframes img03{
    50% {
        transform: translateY(60px);
    }
}
/*배경 이펙트02*/

/*로딩 글자*/
@keyframes txt_ef{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}
/*로딩 글자*/


/*____****애니메이션****____*/



.video_wrap{
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
}

.main_container{
    padding: 25px;
}
.trends{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.trends #play-all{
    background: #fa3a2f;
    border-radius: 30px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    color: #fff;
    width: 95px;
}
.trends #play-all i{
    margin-right: 16px;}
.trends #play-all .fa-play{
    display: none;
}
.trends #play-all.on .fa-play{
    display: block;
}
.trends #play-all .fa-pause{
    display: block;
}
.trends #play-all.on .fa-pause{
    display: none;
}

.trends #play-all .play-all{font-style: normal;}



.videos{display: flex; flex-wrap: wrap;}
.videos .video{ position:relative; width: 23%;
margin: 1%; padding-top: 9%; overflow: hidden;
border-radius: 4px;
}
.videos .video .video-time{
    position: absolute;
    right: 6px;
    top: 65px;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
    color: #fff;
    font-size: 12px;
    padding: 8px;
    z-index: 40;
    transition: 0.3s;
}
.videos .video:hover .video-time{opacity: 0;}
.videos .video video{width: 100%;
position: absolute; left: 0; top: 0;
transition: 0.5s;
}
.videos .video:hover video{
    transform: scale(2.2);
     transform-origin: center top; 
    z-index: 30;
}
.videos .video .video-content{
    color: #808080;
    background-color: #fff;
    padding: 15px 10px 0;
    position: relative;
    z-index: 20;
}
.videos .video .view{
    background: #fff;
    padding: 10px;
    font-size: 13px;
    border-radius: 0 0 4px 4px;
    position: relative;
    z-index: 20;
}

/* video_wrap */

.five{position: relative;}

section .scroll{
   display: flex;
   position: absolute;
   left: 0px; top: 50px;
   
   transform-origin: left top;
   
}
section .scroll div{
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 64px;
    white-space: nowrap;
    animation: animate1 40s linear infinite;

}
section .scroll div:nth-child(2){
    animation: animate2 40s linear infinite;
    animation-delay: -20s;
}


section .scroll div span{}

@keyframes animate1{
    0%{transform: translateX(100%);}
    100%{transform: translateX(-100%);}
}
@keyframes animate2{
    0%{transform: translateX(0%);}
    100%{transform: translateX(-200%);}
}

/* text_ani */

img{width: 100%;}

.design{padding: 0 8\[px;}


.slick-slide{
    position: relative;
}
.slick-slide h3{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-150%,-50%);
    font-size: 3vw; 
  background-color: #fff; 
  color: #222;  
  opacity: 0;
  transition:1.5s;

}
.slick-slide.slick-active h3{
    transform: translate(-50%,-50%);
    opacity: 1;
}
.slick-slide h4{
    position: absolute;
    left: 50%; top: 68%;
    transform: translate(-50%,-250%);
    font-size: 2vw;
    width: 565px;
    text-align: center;
    background-color: #fff; 
  color: #222;  
  opacity: 0;
  transition:1.5s;
  transition-delay: 0.2s;
}
.slick-slide.slick-active h4{
    transform: translate(-50%,-50%);
    opacity: 1;
}
.honggildong .slick-prev{
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 100;
}
.honggildong .slick-next{
    position: absolute;
    top: 50%;
    right: 50px;
    z-index: 100;
}

.slick-initialized .slick-slide{padding: 0 0.5%;
box-sizing: border-box;}

/* slick */